@import url("https://fonts.googleapis.com/css2?family=Caudex&family=Cuprum&family=Open+Sans:wght@400;600&family=Pinyon+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caudex&family=Cuprum&family=Open+Sans:wght@400;600&family=Pinyon+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@700&family=Ruthie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Caudex&family=Cuprum&family=Open+Sans:wght@400;600&family=Pinyon+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@700&family=Ruthie&display=swap");
//Colors
$color1: #ffffff; //Header logo color
$color2: #bb9356; //All orange(likely) colors
$color3: #4e4e4e; //Header border-right color
$color4: #222222; //Header tag color
$color5: #a5a5ab; //Section p color
$color6: #282828; //Section cart header tag color
$color7: #f4f4f4; //Footer subscribe button color
$color8: #444444; //Footer Join button color
$color9: #1f1f1f; //Header hover background-color
$color10: #9c7f4d; //Header hover orange color
$color11: #f0c949; //Header stars color
$color12: #1b1b1b; //Footer dark color
$color13:#eeeeee; //Contact page input border color
$color14:#1b1a1a;//Header dropdown background color
//Fonts
$font-Poppins: "Poppins";
$font-Ruthie: "Ruthie";
$font-AbrilFatface: "Abril Fatface";
//BackgroundImages
$background-image: url("../images/bg-parallax6.jpg"); //Bacground-image of section2
