@import "../../abstracts/mixins";
@import "../../abstracts/variables";

.contact {
  margin-top: 7rem;
  padding: 1rem 5rem;
  @include flex(column, center, center, 2rem);
  &-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    &-info {
      p {
        color: $color5;
        font-size: 0.9rem;
        margin-bottom: 2rem;
        margin-right: 2.2rem;
      }
      &-sections {
        @include gridcol(2, 2);
        gap: 3rem;

        &-section {
          h2 {
            font-size: 1.1rem;
            font-weight: 600;
            font-family: $font-Poppins;
          }
          h3 {
            font-size: 1.1rem;
            font-weight: 600;
            font-family: $font-Poppins;
            a {
              color: $color2;
            }
          }
          ul {
            padding: 0;
            @include flex(row, start, center, 1.5rem);
            li {
              margin-top: 1rem;
              a {
                transition: all ease-in-out 0.5s;
                @include button(0.7rem, 1rem, null, null, $color4, null);
                border: none;

                i {
                  color: $color1;
                }
              }
              a:hover {
                @include button(0.7rem, 1rem, null, null, $color2, null);
                border: none;
              }
            }
          }
        }
      }
    }
    &-inputs {
      @include flex(column, center, start, 2rem);
      width: 100%;
      &-four {
        @include gridcol(2, 2rem);
        width: 100%;
        input {
          height: 3rem;
          padding: 1rem;
          border: 2px solid $color13;
          font-family: $font-Poppins;
          font-size: 0.8rem;
          color: $color2;
        }
        input::placeholder {
          font-family: $font-Poppins;
          font-size: 0.8rem;
          color: $color2;
        }
        input:focus {
          outline: none;
          border: 2px solid $color10;
        }
      }
      span {
        width: 100%;
        textarea {
          width: 100%;
          padding: 1rem 2rem 0 2rem;
          border: 2px solid $color13;
          font-size: 0.8rem;
          color: $color2;
        }
        textarea:focus {
          outline: none;
          border: 2px solid $color10;
        }
      }
      button {
        @include button(1rem, 2rem, null, $color1, $color4, 0.2rem);
        font-family: $font-Poppins;
        font-weight: 600;
        transition: all ease-out 1s;
        width: 100%;
        border: none;
      }
      button:hover {
        @include button(1rem, 2rem, null, $color1, $color2, 0.2rem);
        border: none;
      }
    }
  }
}
